In [2]:
print(a)

[3, 6, 9]

In [3]:
def function1(x):
    return 2*x

In [4]:
a = function1(5)

In [5]:
print(a)

10

In [6]:
b = function1(3)

In [7]:
print(b)

6

In [8]:
def function2(x):
    print(x)
    print("still in this function")
    return 5*x

In [9]:
c = function2(3)

3
still in this function

In [10]:
print(c)

15

In [13]:
def function3(hi):
    print(hi)
    print("yeah_yeah")

In [14]:
function3(55)

55
yeah_yeah

In [32]:
#BMI calculator
name1 = "ice"
height_m1 = 1.60
weight_kg1 = 55

name2 = "prem"
height_m2 = 1.85
weight_kg2 = 80

name3 = "tula"
height_m3 = 1.70
weight_kg3 = 50

In [33]:
def bmi_calculator(name, height_m, weight_kg):
    bmi= weight_kg/(height_m**2)
    print("bmi: ")
    print(bmi)
    if bmi < 25:
        return name + " not overweight"
    else:
        return name + " is overweight"

In [34]:
result1 = bmi_calculator(name1, height_m1, weight_kg1)
result2 = bmi_calculator(name2, height_m2, weight_kg2)
result3 = bmi_calculator(name3, height_m3, weight_kg3)

bmi:
21.484374999999996
bmi:
23.37472607742878
bmi:
17.301038062283737

In [35]:
print(result1)
print(result2)
print(result3)

ice not overweight
prem not overweight
tula not overweight

In [36]:
a = [1, 2, 3]

In [37]:
print(a)

[1, 2, 3]

In [38]:
a.append(4)

In [39]:
print(a)

[1, 2, 3, 4]

In [40]:
a.append(5)

In [41]:
print(a)

[1, 2, 3, 4, 5]

In [42]:
a.append("hi5")

In [43]:
print(a)

[1, 2, 3, 4, 5, 'hi5']

In [44]:
a.append([6, 7, 8, 9])
print(a)

[1, 2, 3, 4, 5, 'hi5', [6, 7, 8, 9]]

In [45]:
a.pop()
print(a)

[1, 2, 3, 4, 5, 'hi5']

In [46]:
a.pop()
print(a)

[1, 2, 3, 4, 5]

In [48]:
print(a[2])

3

In [49]:
print(a[4])

5

In [50]:
a[4] = 1000000

In [51]:
print(a)

[1, 2, 3, 4, 1000000]

In [52]:
b = ["elon musk", "Tesla", "KAI FU LEE"]
print(b)

['elon musk', 'Tesla', 'KAI FU LEE']

In [53]:
temp = b[0]
b[0] = b[1]
b[1] = temp
print(b)

['Tesla', 'elon musk', 'KAI FU LEE']

In [55]:
b[0], b[1] = b[1], b[0]
print(b)

['KAI FU LEE', 'elon musk', 'KAI FU LEE']

In [56]:
b[2] = "Tesla"
print(b)

['KAI FU LEE', 'elon musk', 'Tesla']

In [57]:
c = ["KH", "VN", "LAO"]
print(c[0])
print(c[1])
print(c[2])

KH
VN
LAO

In [59]:
for element in c:
    print(element)

KH
VN
LAO

In [60]:
3%3

0

In [61]:
1%3

1

In [63]:

2%3

2

In [64]:
4%3

1

In [65]:
5%3

2

In [66]:
7%3

1

In [67]:
d = [10, 20, 30]
total = 0
for e in d:
    total += e
print(total)

60

In [68]:
print(list(range(1, 10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
for f in d:
    print(f)

10
20
30

In [70]:
print(list(range(1, 100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [71]:
i = range(1, 100)
print(i)

range(1, 100)

In [72]:
i = list(range(1, 100))
print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [76]:
total4 = 0
for i in range(1, 100):
    if i % 3 == 0 or i % 5 == 0:
         total +=i
print(total)

2378